## Android Studio and Intellij and Android in general
game/android/libs*
/android/gen/
.idea/
*.iml

## Gradle
/local.properties
.gradle/
build/

## OS Specific
.DS_Store
Thumbs.db

## Lyeeedar
game/caches
game/assets/CompressedData
game/assetsraw/ProcessedPaths.xml
game/assetsraw/Backups
game/assetsraw/error.log
game/assetsraw/Layout.xml
game/assetsraw/Settings.xml
game/assets/*.jar
*.pdb
*.deps.json
*.nupkg
*.dylib
